
    body {
        margin: 0;
        padding: 0;
        background: #f2fff8;
        font-family: "Segoe UI", Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .chat-container {
        width: 450px;
        height: 600px;
        background: white;
        border-radius: 18px;
        box-shadow: 0 4px 25px rgba(0,0,0,0.15);
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .chat-header {
        background: #109257;
        color: white;
        padding: 15px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1px;
    }


    #chat {
        flex: 1;
        padding: 15px;
        overflow-y: auto;
        background: #ffffff;
    }

    .message {
        margin: 10px 0;
        padding: 12px 16px;
        border-radius: 18px;
        max-width: 80%;
        width: fit-content;
        animation: fadeIn 0.4s ease;
    }

    .user {
        background: #d8ffeb;
        /* color: white; */
        margin-left: auto;
        border-bottom-right-radius: 4px;
    }

    .bot {
        background: #e8ffeb;
        color: #111;
        border-bottom-left-radius: 4px;
    }

    @keyframes fadeIn {
        from { opacity: 0; transform: translateY(10px); }
        to { opacity: 1; transform: translateY(0); }
    }

    .input-area {
        display: flex;
        padding: 12px;
        background: #109257;
        border-top: 1px solid #ddd;
    }

    #inputBox {
        flex: 1;
        padding: 12px;
        border-radius: 25px;
        border: 1px solid #ccc;
        outline: none;
        font-size: 16px;
    }

    #sendBtn {
        margin-left: 10px;
        background: #d8ffeb;
        /* color: white; */
        border: none;
        padding: 12px 20px;
        border-radius: 25px;
        cursor: pointer;
        font-size: 16px;
        transition: 0.2s;
    }

    #sendBtn:hover {
        background: #3a78bf;
    }
  /* Circular Loader */
.loading-circle {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

.spinner {
    width: 22px;
    height: 22px;
    border: 3px solid #d3d3d3;
    border-top-color: #4A90E2;
    border-radius: 50%;
    animation: spin 0.7s linear infinite;
}

.loading-text {
    font-size: 14px;
    color: #888;
    font-style: italic;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}